<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-left d-flex align-items-center gap-2 mb-sm-0">
                @if (backLink) {
                <a
                    class="page-title-back"
                    [routerLink]="backLink"
                    aria-label="Indietro"
                    title="Indietro">
                    <i class="ri-arrow-left-line"></i>
                </a>
                }
                <h4 class="mb-0">{{title}}</h4>
            </div>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @for ( item of breadcrumbItems; track $index) {
                    <ng-container>
                        <li class="breadcrumb-item" [ngClass]="{'active': item.active == true}">{{ item.label }}
                        </li>
                    </ng-container>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
